@import url(https://fonts.google.com/specimen/Poppins);
@import url(https://fonts.google.com/specimen/Open+Sans);
@import url(https://fontawesome.com/);

:root{
--Violet: hsl(257, 40%, 49%);
--Soft-Magenta: hsl(300, 69%, 71%);
--font-family-heading:"Poppins", sans serif;
--font-weight-big-heading:600;
--font-weight-small-heading:400;
--font-family-body: 'Open',sans serif;
--font-weight-body:400;
}

*{
  
    padding: 0;
}

body{
    background-color: var(--Violet);
    height: 100vh;
    background-image: url(./images/bg-desktop.svg);

}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.header{
    position: relative;
}

header img {
    position: relative;
    width: 6.25rem;
    margin: 30px;
}

main img{
    max-width: 100%;
    margin-left: 1.25rem;
}

figure{
    display: inline-flex;
    gap: 10px;
    position: absolute;
    bottom:10px;
    right: 5.625rem;

}

.section2{
    position: relative;
     margin-left: 1.25rem;
     
}

h1{
    color: white;
    line-height: 2.5rem;
    font-weight: var(--font-weight-big-heading);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

p{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #ffffff;
}

button{
    color: var(--Violet);
    border-radius: 25px;
    padding: 10px 50px;
    border: none;
}

button:hover{
    color: #ffffff;
    background-color: var(--Soft-Magenta);
    cursor: pointer;
}

.facebook,.twitter,.instagram{
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid white;
    border-radius: 9999px;
}

@media screen and (max-width: 375px) {

    body{
        background-image: url(./images/bg-mobile.svg);
    }

    main{
        position: relative;
        right: -80px;
    }

    .section1 {
     grid-row: 1/2;
         
    }
    .section2{
     
        grid-row:2/2;

    }
    
    h1{
        line-height: inherit;
    }

    figure{
        position: relative;
        right: 28%;
        
       
    }

    button{
        margin-bottom: 1.25rem;
    }

    header img{
       position: relative;
       left: 70px;
    
    }
  }

  